# Basic eclipse directories/files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project
target

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath